# .gitattributes

# Configures which files are encrypted


# [[file:dev/dotfiles/install.org::*.gitattributes][.gitattributes:1]]
.config/rclone/rclone.conf filter=crypt diff=crypt merge=crypt
Library/Application[[:space:]]Support/SABnzbd/sabnzbd.ini filter=crypt diff=crypt merge=crypt
# .gitattributes:1 ends here
