# .gitattributes

# Configures which files are encrypted


# [[file:README.org::*.gitattributes][.gitattributes:1]]
.ssh/id_rsa.pub\#\#c.personal filter=crypt diff=crypt merge=crypt
.ssh/id_rsa\#\#c.personal filter=crypt diff=crypt merge=crypt

# .gitattributes:1 ends here
