*~
.#*
*.pyc
*.elc
.aws/*
.local/share/Trash/*
.cache-loader*
.ipynb_checkpoints/
__pycache__/
*ediff-merge*

node_modules/
.DS_Store

# Local Variables:
# mode: gitignore
# End:
/.dir-locals.el
.direnv/
/.spacedrive
nohup.out
/.aider*
/python/pdf-anonymizer/.aider.CONVENTIONS.md

.overmind
.codanna*
.direnv
.fastembed_cache
.serena
.ck

# PI coding agent
agent_plans/
.pi
